.ContactPage {
    display: flex;
    width: 100%;
}


.ContactPage .Content {
    width: 100%;
    display: flex;
}

.ContactPage .Content .FormArea,
.ContactPage .Content .CodeArea {
    width: 50%;
    border: 1px solid #314158;
}

.ContactPage .Content .CodeArea {
    padding: 25px 40px;
}

.ContactPage .Content .FormArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactPage .Content .FormArea .Form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.FormArea .Form .FormGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 372px;
    color: #90A1B9;
}

.FormArea .Form .FormGroup .FormInput, .FormArea .Form .FormGroup .FormTextArea {
    background-color: #020618;
    color: #90A1B9;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #314158;
}

.FormArea .Form .FormGroup .FormTextArea {
    height: 150px;
    justify-content: start;
    line-height: 150px;
}


.FormArea .Form .FormGroup .FormError {
    color: #FF5733;
}

.FormArea .Form .FormGroup .FormButton {
    width: max-content;
    background-color: #FFB86A;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.FormArea .Form .FormGroup .FormButton:hover {
    background-color: #735431;
    color: floralwhite;
}


@media (max-width: 767px) {
    .ContactPage {

        flex-direction: column;
    }

    .ContactPage .Content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .ContactPage .Content .FormArea {
        border: none;
    }

    .ContactPage .Content .CodeArea {
        display: none;
    }

}