.content__gh .content__gh-title {
    display: none;
    font: var(--font-heading-h4);
}

.content__gh .content__gh-list {
    display: flex;
    flex-direction: column;
}

.content__gh-list .content__gh-list-item {
    width: 100%;
    height: max-content;
    border: 1px solid #314158;
    border-radius: var(--radius-card);
    padding: 1px;
}

.content__gh-list .content__gh-list-item .content__gh-list-item__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;

}

.content__gh-list .content__gh-list-item .content__gh-list-item__main,
.content__gh-list .content__gh-list-item .content__gh-list-item__footer {
    border-bottom: 1px solid #314158;
    background-color: var(--background);
    color: var(--font-body-color);
    padding: 16px 32px;
}

.content__gh-list-item .content__gh-list-item__main .content__gh-list-item__title {
    margin-bottom: 4px;
}

.content__gh-list-item .content__gh-list-item__main .content__gh-list-item__text {
    margin-bottom: 25px;
}

.content__gh-list-item .content__gh-list-item__main .content__gh-list-item__main-alt {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.content__gh-list-item .content__gh-list-item__main .content__gh-list-item__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    flex: 2;
    align-items: center;
}


.content__gh-list-item .content__gh-list-item__main .content__gh-list-item__tags .content__gh-list-item__tag {
    background-color: #45556C;
    cursor: pointer;
    padding: 5px 10px;
    color: var(--font-heading-color);
    border-radius: var(--radius-box);
}

.content__gh-list-item .content__gh-list-item__main .content__gh-list-item__languages {
    width: 100%;
    text-align: right;
}

.content__gh-list-item .content__gh-list-item__footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content__gh-list-item__footer .Contributors {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    list-style: none;
}

.content__gh-list-item__footer .Contributors .Contributors-item .Contributors-link {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;
    padding: 4px 8px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.content__gh-list-item__footer .Contributors .Contributors-item .Contributors-link .Contributors-link__img {
    width: 36px;
    height: 36px;
}

.content__gh-list-item__footer .Contributors .Contributors-item .Contributors-link .Contributors-link__title {
    font: var(--font-body-md);
    color: var(--font-body-color);

}

.content__gh-list-item__footer .Controllers {
    display: flex;
    gap: 20px;
}

.content__gh-list-item__footer .Controllers .Controllers-link {
    padding: 8px 16px;
    background-color: #45556C;
    color: var(--font-body-color);
    font: var(--font-body-md);
    border-radius: var(--radius-box);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.content__gh-list-item__footer .Controllers .Controllers-link:hover {
    background-color: var(--color-slate-hover);
    font: var(--font-body-lg);
    color: #fff;
}



@media (min-width: 768px) {

    .content__gh-list-item .content__gh-list-item__main .content__gh-list-item__main-alt {
        flex-direction: row;
        align-items: center;
    }

    .content__gh-list-item .content__gh-list-item__main .content__gh-list-item__languages {
        width: auto;

    }

    .content__gh-list .content__gh-list-item .content__gh-list-item__footer {
        flex-direction: row;
    }

}