.ProjectsPage {
    width: 100%;
    display: flex;
}

.Content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Content .LanguageTabArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-slate);


}

.Content .LanguageTabArea .LanguageTabArea_Title {
    font: var(--font-heading-h5);
    color: var(--color-indigo);
    margin: 10px;
}

.Content .LanguageTabArea .LanguageTabList {
    display: flex;
    flex-wrap: wrap;
    /*border-block-start: 1px solid var(--color-slate);*/
    padding-inline: 0;
}

.Content .LanguageTabArea .LanguageTabList .LanguageTabItem {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding: 15px 32px;
    font: var(--font-body-sm);
    text-transform: full-size-kana;
    border-inline: 1px solid var(--color-slate-hover);
    border-block-end: 1px solid var(--color-slate-hover);
    cursor: pointer;
}

.Content .LanguageTabArea .LanguageTabList .LanguageTabItem.active,
.Content .LanguageTabArea .LanguageTabList .LanguageTabItem:hover {
    background-color: var(--color-state);
    color: #fff;
}


/* Projects */
.Content .Projects {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 64px;
    color: var(--color-slate-hover);
}

.Projects .Project {
    min-width: 450px;
    flex: 2;
    height: max-content;
    padding: 1px;
}

.Project .Title {
    color: var(--color-indigo);
    font: var(--font-heading-h6);
    margin-bottom: 10px;
    padding-inline: 10px;
}

.Project .Title .Name {
    color: var(--color-state);
    font: var(--font-body-sm);
    text-transform: lowercase;
    display: flex;
}

.Project .Title .Name span {
    font-size: 4px !important;
}

.Project .Card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #314158;
    border-radius: var(--radius-card);

}

.Project .Card:hover {
    border: 1px solid var(--color-indigo);
    background-color: rgba(207, 208, 225, 0.08);
}

.Project .Card .Actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font: var(--font-body-lg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 10px;

    width: max-content;

}

.Project .Card .Actions .ActionLink {
    color: var(--color-indigo);
    background-color: rgba(41, 41, 44, 0.1);
    border: 1px solid var(--color-indigo);
    align-items: center;
    padding: 5px 10px;
    border-radius: var(--radius-button);
    text-decoration: none;
}


.Project .Card .Actions .ActionLink:hover {
    color: var(--color-indigo-hover);
}

.Project .Card .Header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 16px;
}

.Project .Card .Header .Name {
    font: var(--font-heading-h6);
    color: var(--color-slate);
    text-transform: capitalize;

}

.Project .Card .Header .Description {
    font: var(--font-body-sm);
    color: var(--color-state-hover);
    width: 85%;
}

.Project .Card .Body {


    padding: 20px 16px;
    border-block: 1px solid var(--color-slate-hover);
}

.Project .Card .Body .StatusList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    color: floralwhite;
}

.Project .Card .Body .StatusList .StatusItem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Project .Card .Body .StatusList .StatusItem svg {
    color: var(--color-indigo);
    font-size: 14px;
}