.HomePage {

    display: flex;
    background-image: url("/green-layer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .HomePage {
        background-image: none;
        align-items: center;
    }
}