.Contributors {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
}

.Contributors .item .link {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;
    padding: 4px 8px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.Contributors .item .img {
    width: 36px;
    height: 36px;
}

.Contributors .item .link .title {
    font: var(--font-body-md);
    color: var(--font-body-color);
    display: none;

}

@media (min-width: 768px) {
    .Contributors .item .link .title {
        display: block;
    }

    .Contributors .item .link:hover .title {
        color: var(--color-slate-hover);
    }

}