.code {
    color: var(--font-body-color);
    font: var(--font-body-sm);
}

.code .constant {
    color: var(--color-indigo);
}

.code .variable {
    color: var(--color-teal);
}

.code a.value {
    text-decoration: none;
}

.code .value {
    color: var(--color-link);
}