/* Sidebar */
.about__sidebar {
    width: 100%;
    height: max-content;

}

@media (min-width: 768px) {
    .about__sidebar {
        min-width: calc(128px + 144px);
        width: max-content;
        height: 100%;
        padding-top: 0px;
        border: 1px solid #314158;
        border-top: 0;
        background-color: var(--background);
    }
}