.GithubItem {
    width: 100%;
    height: max-content;
    border: 1px solid #314158;
    border-radius: var(--radius-card);
    padding: 1px;
}

.img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;

}

.GithubItem .main,
.GithubItem .footer {
    border-bottom: 1px solid #314158;
    background-color: var(--background);
    color: var(--font-body-color);
    padding: 16px 32px;
}

.GithubItem .main .title {
    margin-bottom: 4px;
}

.GithubItem .main .text {
    margin-bottom: 25px;
}

.GithubItem .main .mainAlt {
    display: flex;
    gap: 16px;
}

.GithubItem .main .mainAlt .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    flex: 1;
    align-items: center;

}

.GithubItem .main .mainAlt .language {
    width: max-content;
    text-align: right;
    vertical-align: text-bottom;
    align-self: self-end;
}

.GithubItem .footer {
    display: flex;
    flex-direction: row;
    gap: 15px;


}

.Controllers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: max-content;

}

.GithubItem .footer .Controllers .link {
    padding: 8px 16px;
    background-color: #45556C;
    color: var(--font-body-color);
    font: var(--font-body-md);
    border-radius: var(--radius-box);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.GithubItem .footer .Controllers .link:hover {
    background-color: var(--color-slate-hover);
    font: var(--font-body-lg);
    color: #fff;
}


@media (min-width: 768px) {

    .GithubItem .main .mainAlt {
        flex-direction: column;


    }

    .GithubItem .main .mainAlt .language {
        width: 100%;
        text-align: left;
    }

    .GithubItem .main .mainAlt .tags {
        height: 100px;
        overflow-y: scroll;

    }

    .GithubItem .footer {
        flex-wrap: wrap;
        gap: 15px;
    }


}

