<div class="Footer">
    <div class="Footer__content-left">
        <ul class="Footer__content-list">
            <li class="Footer__content-item">
                <p>find me in:</p>
            </li>
            <li class="Footer__content-item">
                <a href="#">
                  <span>@</span>  <i class="ri-instagram-fill"></i>
                </a>
            </li>
            <li class="Footer__content-item">
                <a href="#">
                    <i class="ri-linkedin-fill"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="Footer__content-right">
        <ul class="Footer__content-list">
            <li class="Footer__content-item">
                <a href="#">
                    <span>@murselsen</span> <i class="ri-github-fill"></i>
                </a>
            </li>
        </ul>
    </div>
</div>