<nav class="Navbar">
    <div class="Navbar__header">
        <div class="Navbar__header-logo">
            <a href="/" class="logo-title">mursel-sen</a>
        </div>
        <div class="Navbar__header-toggle">
            <button class="navbar-toggle" id="navbar-toggle">
                <i class="ri-menu-line" id="navbar-toggle-icon"></i>
            </button>
        </div>
    </div>
    <div class="Navbar__content" id="navbar-menu">
        <p class="Navbar__content-title"># navigate:</p>
        <ul class="Navbar__content-list">
            <li class="Navbar__content-item"><a href="index.html">_hello</a></li>
            <li class="Navbar__content-item"><a href="about.html">_about_me</a></li>
            <li class="Navbar__content-item"><a href="project.html">_project</a></li>
            <li class="Navbar__content-item"><a href="contact-me.html">_contact-me</a></li>
            <li class="Navbar__content-item lang"><a href="#"> <img src="./images/icon/lg_enUS.png" width="25"
                        alt="english">
                    _EN-US</a></li>
        </ul>
    </div>
</nav>