<nav class="Navbar">
    <div class="Navbar__header">
        <div class="Navbar__header-logo">
            <h5 class="logo-title">michael-weaver</h5>
        </div>
        <div class="Navbar__header-toggle">
            <button class="navbar-toggle" id="navbar-toggle"></button>
        </div>
    </div>
    <div class="Navbar__content">
        <ul class="Navbar__content-list">
            <li class="Navbar__content-item"><a href="index.html">_hello</a></li>
            <li class="Navbar__content-item"><a href="about.html">_about</a></li>
            <li class="Navbar__content-item"><a href="project.html">_project</a></li>
            <li class="Navbar__content-item"><a href="contact-me.html">_contact-me</a></li>
        </ul>
    </div>
</nav>