.container {
    display: flex;
    flex-direction: column;
}

.container .content {
    background-image: url("../images/green-layer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 40px;
}

.container .content .content__introduction,
.container .content .content__link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container .content .message {
    font: var(--font-body-lg);
    color: var(--font-body-color)
}

.container .content .content__introduction .username {
    font: var(--font-heading-h1);
    color: var(--font-heading-color);
}

.container .content .mission {
    font: var(--font-heading-h6);
    color: var(--color-indigo);
}

.container .content .code {
    color: var(--font-body-color);
    font: var(--font-body-sm);
}

.container .content .code .constant {
    color: var(--color-indigo);
}

.container .content .code .variable {
    color: var(--color-teal);
}

.container .content .code a.value {
    text-decoration: none;
}

.container .content .code .value {
    color: var(--color-link);
}

.container .media {
    display: none;
}