* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Fira Code", monospace;
    background: #020618;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 16px;
}

body {
    margin: 0 auto;
    border: 1px solid #314158;
    height: calc(100vh - 32px);
}