.code {
    color: var(--font-body-color);
    font: var(--font-body-sm);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.constant {
    color: var(--color-indigo);
}

.variable {
    color: var(--color-teal);
}