.ObjectCode {
    display: flex;
    flex-direction: column;
    color: #90A1B9;
}

.ObjectCode .ObjectList {
    padding: 0px 30px;

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}