.accordion {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.accordion .item {
    border: 1px solid #314158;
    border-top: none;
    gap: 4px;
}

.accordion .item .list {
    display: none;
    padding: 12px 24px;
    flex-direction: column;
    gap: 8px;
}

.accordion .item .list:where(.active) {
    display: flex;
}

.accordion .item .list .listItem a {
    display: flex;
    gap: 12px;
    font: var(--font-body-md);
    text-decoration: none;
    color: var(--font-body-color);
}



.accordion .item .title {
    color: var(--color-slate);
    width: 100%;
    border-bottom: 1px solid #314158;
    padding: 12px 24px;
    background-color: #314158;
    font: var(--font-body-md);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    display: inline-block;

}

.accordion .item .title:hover {
    background-color: var(--color-slate-hover);
    color: #fff;
}

.accordion .item .title::before {
    content: "<";
    display: inline-block;
}

.accordion .item .title::after {
    content: " />";
    display: inline-block;
    margin-left: 4px;
}

@media (min-width: 768px) {
    .accordion .item .list {
        display: flex;
        padding: 12px 24px;
        flex-direction: column;
        gap: 8px;
    }

    .accordion .item .list.active {
        display: none;
    }
}